// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.font {
  font-family: 'Permanent Marker', cursive;
}

$ia : #F96409;
$product: #E8009C !important;
$web: #FFEC00;
$mobile: #7cda1a;
$cloud: #00E7FF;
$diversidad: #31FFAE;
$emprendimiento: #8B38FF;
$contenidos: #C10015;